[submodule "frontend"]
	path = frontend
	url = https://github.com/akanksh-ch/titantechparts
	branch = frontend
[submodule "backend"]
	path = backend
	url = https://github.com/akanksh-ch/titantechparts
	branch = backend
